@media(max-width: 426px){

  body {
    position: absolute;
    margin: 0;
    overflow: hidden;
  }

  #game {
    z-index: 0;
    position: absolute;
    width: 2000px; /* 100% of the container */
    height: 2000px; /* 100% of the container */
    background-color: #ddd; /* Optional: Set a background color for the game */
  }

  #viewport {
    border: 3px solid red;
    background: transparent;
    z-index: 1;
    position: fixed;
    width: 100vw; /* 100% of the game container */
    height: 90vh; /* 100% of the game container */
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  #score{
    position: absolute;
    align-self: flex-start;
    margin-right: 225px;
  }

  .player{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: blue;
  }

  .enemy{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: red;
  }

  dialog{
    position: relative;
    top: 0;
    left: 0;
    height: 45px;
    width: 90vw;
    text-align: center;
    background-color: lightblue;
    overflow: hidden;

    & #startBtn{
      font-size: 2rem;
    }
  }

  #controlUnit {
    position: relative;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .arrow {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    width: 70px;
    height: 70px;
  }

  .shots{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 20px;
  }


}
